@import url("https://fonts.googleapis.com/css?family=Pontano+Sans&display=swap");

body {
  background-image: url(back.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Pontano Sans", sans-serif;
}

.to-do-list h1,
.done-list h1 {
  font-weight: lighter;
}

main {
  margin-top: 3em;
}

.task img[data-action="delete"],
.task button[data-action="done"],
.task p[data-action="edit"],
form.add-task p[data-action="add"] {
  cursor: pointer;
}

.task h1 {
  font-size: 1.3em;
}

.task p[data-action="edit"]:hover {
  color: rgb(119, 142, 201);
  transition: 0.3s;
}

.to-do-list,
.done-list {
  width: 100%;
  transition: 0.3s;
}

.task {
  overflow: hidden;
  text-overflow: ellipsis;
}

.done-list .task {
  background-color: rgb(196, 171, 171);
  color: white;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 15px;
}

.done-list .task button,
.done-list .task p[data-action="edit"] {
  display: none;
}

.to-do-list .task {
  padding: 1em;
  background-color: white;
  margin-bottom: 1em;
  border-radius: 15px;
}

/* .task:not(:last-child) {
} */

.task img[data-action="delete"] {
  width: 25px;
  float: right;
}

.task img[data-action="delete"]:hover {
  width: 30px;
  transition: 0.2s;
}

.task p[data-action="edit"] {
  display: inline;
  margin-left: 5px;
}

.task button[data-action="done"] {
  width: 30%;
  height: 30px;
  border-radius: 15px;
  border: 1px solid rgb(206, 205, 205);
  background-color: rgb(180, 196, 171);
  color: white;
  box-shadow: 2px 2px rgb(185, 218, 167);
}

form.add-task p[data-action="add"] {
  padding: 1em;
  border: 3px solid rgb(148, 152, 161);
  border-radius: 15px;
}

form.add-task p[data-action="add"]:hover {
  background-color: rgb(171, 178, 196);
  color: white;
  transition: 0.3s;
}

form.add-task {
  background-color: white;
  margin-bottom: 1em;
  border-radius: 15px;
}

form.add-task .submit,
form.add-task .cancel-add,
.task form.edit-task .submit,
.task form.edit-task .cancel {
  border: 1px solid rgb(171, 178, 196);
  background-color: white;
  width: 30%;
  padding: 0.5em;
  margin-top: 1em;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 2px 2px rgb(212, 212, 212);
}

form.add-task .submit {
  background-color: rgb(180, 196, 171);
  color: white;
  transition: 0.3s;
  box-shadow: 2px 2px rgb(185, 218, 167);
}

.task form.edit-task .submit {
  background-color: rgb(171, 178, 196);
  color: white;
  transition: 0.3s;
  box-shadow: 2px 2px rgb(115, 120, 133);
}

form.add-task .add-btn,
.task form.edit-task .add-btn {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

form.add-task .add-form {
  padding: 1em;
}

form.add-task .add-form #title,
form.add-task .add-form #desc,
.task form.edit-task #title,
.task form.edit-task #desc {
  border-radius: 15px;
  border: 1px solid rgb(172, 172, 172);
  padding: 0.5em;
  margin-bottom: 1em;
  width: 90%;
}

.hide {
  display: none;
}

.task form.edit-task {
  border-top: 1px solid rgba(121, 121, 121, 0.39);
  margin-top: 2em;
  padding: 1em;
}

/*MEDIUM SCREEN VIEW*/
@media all and (min-width: 501px) and (max-width: 800px) {
  .to-do-list,
  .done-list {
    width: 70%;
    margin: auto;
  }
}

/*LARGE SCREEN VIEW*/
@media all and (min-width: 801px) {
  main {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
  }

  .to-do-list,
  .done-list {
    width: 40%;
  }
}
